<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="CrossBrowserSuite" parallel="tests" thread-count="2">
    <test name="FirefoxTest">
        <parameter name="env" value="stage" />
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="com.orangehrm.tests.ui.LoginTest"/>
            <class name="com.orangehrm.tests.ui.AdminTest"/>
        </classes>
    </test>
</suite>
