<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- log file name includes thread name -->
        <file>logs/log-${thread}.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>

</configuration>
